h1 {
	font-weight: 400;
}

.form {
	margin-bottom: 50px;
	position: relative;
}

.dropdown {
	padding: 15px;
	font-size: 20px;
}

.fill {
	fill: #F59200
}

.error {
	position: absolute;
	color: red;
}